/* navbar responsive st*/
@media screen and (max-width: 576px) {
  .nav_container {
    margin-top: 20px;
    padding: 0px 20px;
  }
  .nav_menu_container {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .banner_container {
    margin-top: 50px;
    flex-direction: column;
  }
  .banner_contant {
    width: 100%;
    padding: 0 20px;
  }

  .banner_title {
    width: 285px;
    font-size: 2.25rem;
  }
  .banner_hero {
    margin-top: 100px;
  }

  .hero_image {
    justify-content: center;
    align-items: center;
  }

  .free_video {
    top: 30%;
    left: 40%;
  }

  .tutorial {
    bottom: 10%;
    right: 40%;
  }

  .habits_card_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 58px;
  }

  .run_easily {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }
  .runner_img {
    width: 100%;
  }

  .run_easily_contant .btn {
    width: 100%;
  }
  .bmi_calculator_heading {
    margin: 0 20px;
  }

  .main_bmi_calculator {
    flex-direction: column;
    gap: 42px;
  }

  .calculator_bmi {
    /* width: 354px; */
    width: 100%;
  }

  .bmi_calculator_container {
    padding: 0 20px;
  }

  /* .team_card_container{
    grid-template-columns: repeat(1,1fr);
    
  } */
   .team_card_container{
    justify-content: center;
   }


   .footer_container{
   flex-direction: column;
   margin: 0 20px;
   }

  
}
/* navbar responsive ed*/
