@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap");

/* common css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryFont: Inter;
  --styleFont: Parisienne;
}

body {
  background-color: #000;
  color: #fff;
}

/* common css */
#headBg {
  /* background-image: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0) 100%);
  */
  /* background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0) 100%); */

  background-image: url(../images/hero_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* navbar css st */
.nav_container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 30px 0;
}

.logo_container .logo {
  color: #e6533c;
  font-family: var(--primaryFont);
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 800;
}

.menu_items {
  list-style: none;
  display: flex;
}

.nav_menu_container .item {
  margin-left: 50px;
}

.item a {
  padding: 8px 20px;
  text-decoration: none;
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 1.12rem;
  font-weight: 400;
}
.item a:hover {
  border-radius: 46px;
  background: #e6533c;
}

#ham_icon {
  color: #fff;
  font-size: 2rem;
}

.hamburger {
  display: none;
}

/* navbar css ed */

/* banner_container st */
.banner_container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner_contant {
  width: 50%;
}
.banner_hero {
  width: 40%;
  position: relative;
}
.hero_image {
  display: flex;
  max-width: 100%;
  object-fit: contain;
}

.banner_title {
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.banner_descprition {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--primaryFont);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  padding: 28px 0;
}

.style_font {
  color: #fff;
  font-family: var(--styleFont);
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.btn_container {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 16px 40px;
  border-radius: 42px;
  background: #e6533c;
  border: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 1.12rem;
  font-weight: 600;
}

.btn_2 {
  padding: 16px 40px;
  border-radius: 42px;
  background: transparent;
  border: 1px solid #fff;
}

.btn_2 a {
  text-decoration: none;
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 1.12rem;
  font-weight: 600;
}

.free_video {
  width: 200px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 17px 24px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.free_video h3 {
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 2.5rem;
  font-weight: 900;
}
.free_video h5 {
  color: rgba(255, 255, 255, 0.65);
  font-family: var(--primaryFont);
  font-size: 0.81rem;
  font-weight: 400;
}
.tutorial {
  width: 200px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 17px 24px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 10%;
  right: 80%;
}
.tutorial h3 {
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 2.5rem;
  font-weight: 900;
}
.tutorial h5 {
  color: rgba(255, 255, 255, 0.65);
  font-family: var(--primaryFont);
  font-size: 0.81rem;
  font-weight: 400;
}

.tutorial_carcel {
  width: 30px;
  height: 30px;
  background-color: #e6533c;
  border-radius: 50%;
}

/* banner_container ed */

/* Your_Habits st */
.Your_Habits {
  max-width: 1140px;
  margin: 100px auto;
}
.habit_head {
  text-align: center;
}
.habit_title {
}
.habits_descprition {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--primaryFont);
  font-size: 0.87rem;
  font-weight: 400;
  padding-top: 14px;
}

.habits_card_container {
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.habit_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habit_image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.habit_card_contant {
  text-align: center;
  padding-top: 30px;
}

.habit_title {
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 900;
}

.habit_descprition {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--primaryFont);
  font-size: 0.87rem;
  font-weight: 400;
  padding-top: 8px;
}
/* Your_Habits ed*/

/* run_easily st */
.run_easily {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  border-radius: 18px;
  background: #222;
  padding: 30px 50px;
  justify-content: space-between;
  
}

.runner_img {
  background-image: url(../images/run.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 366px;
  height: 312px;
  border-radius: 18px;
}

.run_easily_title {
  color: #fff;
  font-family: var(--primaryFont);
  font-size: 3rem;
  font-weight: 900;
}
.run_easily_descprition {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--primaryFont);
  font-size: 0.87rem;
  font-weight: 400;
  padding-top: 14px;
}

.run_easily_contant .btn {
  margin-top: 34px;
}
/* run_easily ed */
